
button{
  background-color:#00FF6E;
  border: 1px solid #00FF6E;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  margin-bottom: 20px;
}
button a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}


.proximo{
  display: flex;
  gap: 15px;
}

.escala{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.escala form{
  display: flex;
  flex-direction: column;
}

form input{
  background-color: lightgray;
  border: 1px solid #00FF6E;
}
select{
  width: 250px;
  height: 30px;
  padding: 5px;
  border: 1px solid #00FF6E;
  background-color: lightgray;
}

.ausculta{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ausculta div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.calcular-pontuação,
.verificar{
  width: 200px;
  height: 32px;
  font-size: 16px;
  border: 1px solid #00FF6E;
  border-radius: 10px;
}

span{
  padding: 10px;
}

.border{
  border: 1px solid #00FF6E;
  border-radius: 10px;
  padding: 40px;
}