
h2,
h3{
  margin-bottom: 10px;
}

button{
  background-color:#00FF6E;
  border: 1px solid #00FF6E;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  margin-bottom: 20px;
}
button, 
button a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}


.proximo{
  display: flex;
  gap: 15px;
}

.escala{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.escala form{
  display: flex;
  flex-direction: column;
}

form input{
  background-color: lightgray;
  border: 1px solid #00FF6E;
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
}


textarea{
  border: 1px solid #00FF6E;
  border-radius: 10px;
  background-color: lightgray;
  
}

fieldset{
  padding: 10px;
}

.osso-verificar{
  width: 200px;
  margin: 10px;
}