
.posicao {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.posicao h3{
  font-size: 20px;
  margin: 10px 0;
}

.posicao div{
  display: flex;
  flex-direction: column;
  border: 1px solid #00FF6E;
  padding: 15px;
  gap: 3px;
  border-radius: 10px;
}

button{
  background-color:#00FF6E;
  border: 1px solid #00FF6E;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  margin-bottom: 20px;
}
button a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

label{
  color: white;
}

.proximo{
  display: flex;
  gap: 15px;
}

select{
  width: 150px;
  height: 30px;
  padding: 5px;
  border: 1px solid #00FF6E;
  background-color: lightgray;
  margin-left: 10px;
}

