
label{
  font-size: 18px;
}

input{
  border-radius: 10px;
  border: 1px solid #00FF6E;
  width: 250px;
  height: 30px;
  padding: 10px;
  background-color: lightgray;
}

select{
  width: 150px;
  height: 30px;
  padding: 5px;
  border: 1px solid #00FF6E;
  background-color: lightgray;
}



form{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form div.textarea{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea{
  border: 1px solid #00FF6E;
  border-radius: 10px;
  background-color: lightgray;
  
}

button{
  background-color:#00FF6E;
  border: 1px solid #00FF6E;
  border-radius: 10px;
  width: 150px;
  height: 35px;
}
button a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

